
@{
    Layout = null;
}

<!DOCTYPE html>
<html>

@await Component.InvokeAsync("_UILayoutHeadComponentPartial")

<body>

    <div class="hero_area">
        <div class="bg-box">
            <img src="images/hero-bg.jpg" alt="">
        </div>
        <!-- header section strats -->
        @await Component.InvokeAsync("_UILayoutNavbarComponentPartial")
        <!-- end header section -->
    <!-- book section -->
   @RenderBody()
   
    <!-- end book section -->
    <!-- footer section -->
    @await Component.InvokeAsync("_UILayoutFooterComponentPartial")
    <!-- footer section -->
    <!-- jQery -->
    @await Component.InvokeAsync("_UILayoutScriptComponentPartial")

</body>

</html>